html,body{
    position: relative;
    width:100%;
}
.home-nav{
    width: 100vw;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;

}

li{
    list-style: none;
}

.home-nav-info{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 44px;
    height: 80px;
}

.home-nav-info > li{
    font-size: 16px;
    font-family: 'Lato';
}

.home-nav-info > li > a{
    padding: 16px;
}

.home-nav-logo{
    /* width: 100px; */
    float: left;
    height: 50px;
    object-fit: cover;
    object-position: center;
}

.home-nav-session{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 44px;
}


.home-nav-session-button{
    background-color: #AE4B3B;
    height: 50px;
    color: white;
    font-size: 16px;
    font-family: 'Lato';
    font-style: bold;
    padding: 12px 16px;
    margin: 0 5px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    border: none;
}

.home-nav-session-button:hover {
    background: lightgray;
}

/* .home-nav-other{
    float: right;
} */

.jobyssey-home-section{
    background-color: #fdbf9e;
    height: 500px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding-left: 20px;
}

.jobyssey-intro > div{
    flex: 0.75;
    width: 30%;
}


.jobyssey-home-img{
    width: 700px;
    height: auto;
    object-fit: cover;
    object-position: center;
    margin: 0 0 0 0px;
}

.jobyssey-home-title{
    font-family: 'Raleway';
    font-size: 46px;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 16px;
    margin-right: 10px;
    padding-bottom: 30px;
    margin-left: 20px;
}

.jobyssey-home-body{
    font-family: 'Raleway';
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 32px;
    text-align: center;
}

.jobyssey-home-note{
    font-family: 'Lato';
    font-size: 14px;
    /* margin-top: 180px; */
    color: gray;
}

.jobyssey-home-note-link{
    font-size: 14px;
    color: #485d69;
    text-decoration: underline;
    cursor: pointer;
}

.jobyssey-home-note-link:hover{
    color: gray;
}

.footer{
    margin-top: 10%;
    text-align: center;
    left: 35%;
    position: absolute;
    background: transparent;
    color: #485d69;
    margin-bottom: 50px;
}
.footer-content span{
   text-align: center;
   margin-right: 20px;
}

.footer-content span:hover{
   color: gray;
   text-decoration: underline;
}

.footer-logo{
    height: 20px;
    object-fit: cover;
    object-position: center;
    margin-top: 30px;
}

.jobyssey-task-img{
    width: 500px;
    height: auto;
    box-shadow: 2px 4px 6px lightslategray;
    margin-top: 60px;
    margin-left: 10%;
    margin-right: 10%;
}

.jobyssey-visual-img{
    width: 500px;
    height: auto;
    box-shadow: 2px 6px 8px lightslategray;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
}

.personal-task-section{
    margin-top:5%; 
}

.jobyssey-task-text{
    margin-top: 50px;
    /* margin-left: 50px; */
    margin-right: 10%;
    width: 550px;
    font-family: "Charlie Text",sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
    color: #172B4D;
    text-align: left;
}

.jobyssey-home-box{
    display: flex;
    align-items: center;
    flex-direction: row;

}

.visual-task-text{
    margin-top: 60px;
    margin-left: 10%;
    /* margin-right: 10%; */
    width: 550px;
    font-family: "Charlie Text",sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
    color: #172B4D;
    text-align: left; 
}

.back-to-top-btn{
    margin-top: 30px;
    cursor: pointer;
    border: none;
    text-decoration-style: none;
    background-color: none; 
}

.back-to-top-btn:hover{
    color: gray;
}

.contributor-our-team{
    /* flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    align-items: center;*/
    text-align: center;  
    margin-top: 5%;
}

.contributor-section{
    height: 200px;
    width: 100vw;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding-left: 20px;
}

.contributor-img{
    height: auto;
    width: 20%;
}

.contributor-div {
    width: 500px;
    /* height: 100px; */
    margin: 0px;
    padding: 0px;
}