.landing-wrapper {
    height: 100%;
}

.landing-content-wrapper {
    display: flex;
    height: 100%;
    background-color: rgb(250, 249, 255);
}

.landing-column {
    border-right: 1px solid #ece9f2;
    height: 100%;
    width: 25%;
    padding: 30px 10px;
}

.landing-column-title {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    font-family: sans-serif;
    color: rgb(24, 0, 69);
    line-height: 2rem;
    letter-spacing: 1px;
}

.landing-column-subtitle {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    font-family: sans-serif;
    color: rgba(25, 4, 69, 0.4);
    line-height: 21px;
}

.landing-add-job-block {
    width: 100%;
    border-radius: 4px;
    text-align: center;
    color: rgba(25,4,69,0.4);
    transition: all 0.5s ease;
    cursor: pointer;
    line-height: 35px;
    vertical-align: middle;
    font-size: 25px;
    display: inline-block;
    background-color: #fff;
    box-shadow: 0px 0px 3px rgba(25,4,69,0.1);
    margin-top: 1rem;
    margin-top: 1rem;
}

.landing-company-row {
    box-shadow: rgba(25, 4, 69, 0.07) 0px 1px 3px;
    border-radius: 16px;
    cursor: pointer;
    position: relative;
    border: 1px solid rgba(25, 4, 69, 0.07);
    margin-top: 1rem;
}

.landing-company-row-details {
    padding: 13px 15px 10px;
    color: white;
}

.landing-company-row-title {
    font-size: 14px;
    line-height: 18px;
}

.landing-company-row-subtitle {
    font-weight: 400;
    opacity: 0.75;
    font-size: 13px;
    line-height: 18px;
}

.landing-company-row-footer {
    text-align: end;
    color: white;
    font-size: 13px;
    padding: 5px 7px;
}

.landing-menu-container {
    position: relative;
    display: inline-block;
    list-style: none;
    width: 100%;
    margin-bottom: 2rem;
}

.landing-menu-dropdown {
    display: none;
    position: absolute;
    color: #666;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1);
    border-radius: 6px;
    width: 100%;
    line-height: 40px;
    z-index: 1;
}

.landing-menu-row {
    text-align: center;
    cursor: pointer;
}

.landing-menu-container:hover .landing-menu-dropdown {
    display: block;
}

.landing-menu-dropdown .landing-menu-row {
    display: block;
}

.landing-menu-dropdown .landing-menu-row:hover {
    color: #237b98;
    background: #eef4fb;
    border-left: 3px solid #237b98;
}