.review-wrapper {
    height: 100%;
}

.review-company-name {
    width: 50%;
    margin: auto;
    border-bottom: 1px solid #ece9f2;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 3rem;
}

.review-company-description {
    width: 50%;
    margin: auto;
    padding-top: 1rem;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.review-company-reviews {
    width: 50%;
    margin: auto;
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> review page complete
    align-items: flex-end;
}

.review-title {
    width: 100%;
    border-bottom: 1px solid #ece9f2;
    padding-bottom: 1rem;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.review-input {
    width: 100%;
    margin-bottom: 2rem;
}

.review-leave-button {
    border-radius: 4px;
    background-color:lightcyan;
    color: blue;
    border: 6px;
    padding: 6px;
    border: none;
    cursor: pointer;
<<<<<<< HEAD
}

.review-row {
    width: 100%;
=======
}

.review-row {
>>>>>>> review page initial layout
=======
}

.review-row {
    width: 100%;
>>>>>>> review page complete
    border-bottom: 1px solid #ece9f2;
    padding-bottom: .5rem;
    margin-bottom: 1rem;
}